{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ object.title }}{% endblock %}

{% block content %}
{% load recipes %}
<h2>{{ object.title }}</h2>
<p>Schwierigkeitsgrad: {{ object.get_difficulty_display }}</p>
<p>Ergibt {{ object.number_of_portions }} Portion{{ object.number_of_portions|pluralize:"en" }}.</p>
<h3>Zutaten</h3>
{{ object.ingredients|linebreaks }}
<h3>Zubereitung</h3>
{{ object.preparation|linebreaks }}
<p>Zubereitungszeit: {{ object.time_for_preparation }} Minuten</p>
<p>Autor: {{ object.author }}</p>
<h4>Kategorie{{ object.category.count|pluralize:"n" }}</h4>
<ul>
    {% for category in object.category.all %}
        <li>{{ category.name }}</li>
    {% endfor %}
</ul>
{% is_author user object %}
<a href="{% url recipes_recipe_edit object.pk %}">Rezept bearbeiten</a>
{% else %}
Bitte <a href="{% url userauth_login %}">einloggen</a>, um das Rezept zu bearbeiten.
{% endis_author %}
<a href="{% url recipes_recipe_index %}">zurück zur Übersicht</a>
{% endblock %}
