{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ object.title }}{% endblock %}

{% block toggle_login %}{% endblock %}

{% block content %}
{% load recipes %}
<h2>{{ object.title }}</h2>
<p>Schwierigkeitsgrad: {{ object.get_difficulty_display }}</p>
<p>Ergibt {{ object.number_of_portions }}
    Portion{{ object.number_of_portions|pluralize:"en" }}.</p>
<h3>Zutaten</h3>
{{ object.ingredients|linebreaks }}
<h3>Zubereitung</h3>
{{ object.preparation|linebreaks }}
<p>Zubereitungszeit: {{ object.time_for_preparation }} Minuten</p>
<p>Autor: {{ object.author }}</p>
<h4>Kategorie{{ object.category.count|pluralize:"n" }}</h4>
<ul>
    {% for category in object.category.all %}
        <li>{{ category.name }}</li>
    {% endfor %}
</ul>
{% get_related_recipes object 5 as related_recipes %}
{% if related_recipes %}
<h4>Verwandte Rezepte</h4>
<ul>
{% for recipe in related_recipes %}
    <li><a href="{% full_url recipe %}">{{ recipe.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
