{% extends "base.html" %}

{% block title %}
{{ block.super }} - Rezept {% if add %}erstellen{% else %}"{{ object.title }}" bearbeiten{% endif %}
{% endblock %}

{% block content %}
{% if add %}
<h2>Rezept erstellen</h2>
{% url recipes_recipe_add as action_url %}
{% else %}
<h2>Rezept "{{ object.title }}" bearbeiten</h2>
{% url recipes_recipe_edit as action_url %}
{% endif %}
<form action="{{ action_url }}" method="post" accept-charset="utf-8">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Speichern"/></p>
</form>
<a href="{% url recipes_recipe_index %}">zurück zur Übersicht</a>
{% endblock %}
